.rights{
  width: 800px;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 15px ;
}

.infobelow{
  display: flex;
  justify-content: space-between;
}



.social{
  width: 20%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
